@import 'variables';

.Games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .gameSummary {
        margin: 6px;
        &:nth-child(even) {
            background-color: $lightGrey;
        }
    }
}

.gameSummaryFull {
    display: flex;
    width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
    padding: 24px;
    justify-content: space-evenly;
}

.boxscore {
    align-self: center;
    tr {
        height: 24px;
    }
    th {
        vertical-align: baseline;
        line-height: 24px;
    }
    th, td {
        width: 30px;
        text-align: center;
    }
    td {
        padding: 3px 0;
        font-size: 18px;
    }
    .headers {
        font-weight: bold;
        padding: 3px 0;
        font-size: 13px;
    }
    .gameNumber, .team {
        width: auto;
        text-align: left;
        padding: 3px 6px;
        font-weight: bold;
    }
}

.teamDisplay {
    display: flex;
    align-items: center;
    .teamName {
        font-weight: bold;
        font-size: 1.5em;
        padding: 0 12px;
    }
    .teamScore {
        font-weight: bold;
        font-size: 5em;
        padding: 0 24px;
    }
    .teamRecord {
        padding: 6px 12px;
        font-weight: bold;
        color: #444;
    }
}

.visTeamDisplay {
    .teamRecord {
        text-align: right;
    }
}

.teamFlag {
    min-height: 8vw;
    min-width: 12vw;
    max-height: 8vw;
    max-width: 12vw;
    height: 8vw;
    width: 12vw;
    display: flex;
    align-content: center;
    margin: 36px;
    img {
        max-width: 100%;
        min-width: 100%;
        width: 100%;
    }
}