@import 'variables';

.gamesBar {
  background-color: $white;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  padding: 3px;
  .recentGames {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 20px;
  }
  .upcomingGames {
    display: flex;
  }
}

.homeSection {
  display: flex;
  justify-content: space-evenly;
  flex: 0 1 25%;
}

.headlines {
  padding: 12px;
  background-color: $white;
  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }
  .headline {
    font-size: 1.2em;
    margin: 12px 0;
    &:hover {
      color: $lightNavy;
    }
  }
}