@import 'variables';

.gamesBar {
  background-color: $white;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  padding: 3px;
  .recentGames {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 20px;
  }
  .upcomingGames {
    display: flex;
  }
}

.homeSection {
  display: flex;
  justify-content: space-evenly;
}