@import 'variables';

.navbar {
    background-color: black;
    color: white;
    display: flex;
    height: 70px;
    justify-content: space-between;
    width: 100vw;
}

.navLinks {
    display: flex;
    font-size: 16px;
    height: 100%;
    padding-right: 12px;
}

.navLink {
    align-self: center;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0 12px;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
    }
}

.title {
    align-self: center;
    font-family: $title;
    font-size: 32px;
    padding: 0 12px;
    &:hover {
        cursor: pointer;
    }
}
