@import 'variables';

.standingsTable {
    background-color: $white;
    margin: 24px;
    .standingsTitle {
        background-color: $black;
        color: $white;
        padding: 6px;
        text-transform: uppercase;
    }
    .standingsHeaders {
        border-bottom: 1px solid $grey;
        th {
            font-weight: bold;
            padding: 6px 12px;
        }
    }
    .standingsRow {
        border-bottom: 1px dotted $lightGrey;
        height: 24px;
        line-height: 24px;
        padding: 0;
        &:hover {
            background-color: $lightGrey;
            cursor: pointer;
        }
        &.true {
            color: $white;
            background-color: $grey;
        }
        td {
            padding: 0 6px;
            text-align: center;
            &.teamName {
                text-align: left;
            }
        }
    }
}