@import 'variables';

.teams {
    padding: 2em 0;
}

// ===== TEAM CARDS ===== //
.teamCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 10vw;
}   

.teamCard {
    width: 15vw;
    box-sizing: border-box;
    padding: 0.5em 1em;
    box-shadow: 1px 1px 1px $lightGrey;
    height: 25vw;
    margin: 0.75vw 0;
    background-color: $white;
    text-align: center;
    font-size: 1.1em;

    .teamImage {
        width: 100%;
        height: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 75%;
            max-height: 100%;
        }
    }

    .teamName {
        display: flex;
        font-size: 1.25em;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        margin-top: 1em;
        hr {
            flex: 1;
            border: 1px solid $black;
        }
        h3 {
            flex-grow: 1;
        }
    }
    .record {
        font-size: 1.25em;
    }
    .location {
        margin-top: 12px;
        font-size: 1.2em;
        letter-spacing: 1px;
        .teamCountry {
            text-transform: uppercase;
        }
    }
    .conference {
        margin-top: 12px;
    }
    .division {
        margin-top: 3px;
    }
}

// ========== TEAM PAGE ========== //
.teamHeader {
    display: flex;
    overflow: hidden;
    height: 25vh;
    width: 100vw;
    border-bottom: 10px solid $black;
    box-shadow: 0px 2px 3px $grey;
    .teamInfo {
        flex-grow: 1;
    }
    .teamFlag {
        width: 33%;
        background-position: center center;
        background-size: cover;
        border-left: 20px solid $black;
        transform: skewX(-15deg);
        margin-right: -12.5vh;
    }
}