@import 'variables';

.Teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 32px;
}

.teamLink {
    display: flex;
    padding: 12px;
    align-items: center;
    width: 33%;
    box-sizing: border-box;
    &:hover {
        cursor: pointer;
    }
    img {
        max-height: 40px;
        max-width: 60px;
    }
    .teamName {
        font-size: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bold;
        padding-left: 12px;
    }
}

.teamInfo {
    display: flex;
}